/*========================================================
  Custom Classes
=========================================================*/
* {
  margin: 0;
  padding: 0;
}

html {
  // background-color: var(--body-primary);
  color: var(--font-primary) !important;
  background-image: url('~/assets/images/backgrounds/bg.webp');
  background-size: cover;
  background-position: top center;
  background-color: var(--card-secondary);
}

body {
  color: var(--font-primary) !important;
}

.card-tertiary {
  background: linear-gradient(var(--card-tertiary1), var(--card-tertiary2)) padding-box,
    linear-gradient(90deg, var(--card-border1) 0%, var(--card-border1) 100%) border-box;
  border: 1px solid transparent;
}

.base-truncate-1 {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.base-truncate-2 {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.base-truncate-3 {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.base-truncate-5 {
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
