@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-thin.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-thinitalic.ttf') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-extralight.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-extralightitalic.ttf') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-lightitalic.ttf') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-mediumitalic.ttf') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-semibold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-semibolditalic.ttf') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-extrabold.ttf') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-extrabolditalic.ttf') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-black.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('../font/kanit/kanit-blackitalic.ttf') format('woff2');
  font-weight: 900;
  font-style: italic;
}
